// write your css here

 .header h1 {
  align: center;
  background: lightyellow;
}
.container {
  background-color: aliceblue;
}
.column1 {
  float: left;
  height: 560px;
  border: solid;
  width: 150px;
}

.column2 {
  text-align: center;
  height: 560px;
  margin-top: 0px;
  margin-left: 160px;
  margin-bottom: 0px;
  border: solid;

}
footer {
  text-align: center;
}

img {
  height:65px;
  width: 65px;
}
.table {
  margin-left: 200px;
  padding-top: 20px;
}

.menu {
  background: lightgrey;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#l1 {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 50px;
}
#l2 {
  padding-bottom: 80px;
  padding-left: 50px;
}

#l3 {
  padding-bottom: 80px;
  padding-left: 40px;
}
